@charset "UTF-8";


/*Global / Desktop View*/
header {
	background-color: rgba(0,0,0,0.65);
	padding-top: 12px;
	padding-left: 19px;
	padding-right: 19px;
	padding-bottom: 12px;
}
.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}





/*Tablet View*/
@media (min-width: 401px) and (max-width: 768px){
header {
	background-color: rgba(255,0,4,1.00);
}
}



/*Mobile View*/
@media (max-width: 400px){
header {
	background-color: rgba(74,255,0,1.00);
}
}
